div.alert.alert-warning
  'The domain name you just entered doesn't match any addresses in my database, I therefore cannot make relevant predictions. Nonetheless, here are the possible addresses based on all the formats I do have:
  ul#predictions
    == partial 'predictions/prediction', collection: predictions
