div.alert.alert-info
  'This is your lucky day ! I already know about an address matching exactly the information you entered. Hence no need for predictions here, only certainty.
  ul
    li == matching_email.to_s
