div.alert.alert-info
  'This is your lucky day ! We already have an address matching the information you entered in our database, hence no need for predictions, only certainty.
  ul
    li == matching_email.to_s